<html ng-app="sudokuCtrl">
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="sudoku.css">
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	</head>
	<body ng-controller="SudokuController">
		<div layout="row">
			<div layout="column">
				<h2 class="gridTitle">Initial Grid</h2>
				<sudoku-grid orig="sudokuGrid" sol-grid="solution" solution="false"></sudoku-grid>
			</div>
			<div layout="column">
				<h2 class="gridTitle">Solution</h2>
				<sudoku-grid orig="sudokuGrid" sol-grid="solution" solution="true"></sudoku-grid>
			</div>
		</div>
		<button ng-click="solve()" class="submitButton">Solve</button>
		<button ng-click="resetInput()" class="submitButton">Clear</button>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>