<html ng-app="sudokuCtrl">
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="sudoku.css">
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	</head>
	<body ng-controller="SudokuController">
		<div layout="row">
			<div layout="column">
				<h2 class="gridTitle">Sudoku Solver</h2>
				<sudoku-board grid="displayGrid" colors="filledIn"></sudoku-board>
			</div>
			<div class="instructions">
				<h3>Instructions</h3>
				<p>Click a cell to increase its value by 1.&#13;&#10;Clicking a cell with a 9 will remove its value; clicking it once more will reset it to 1. </p>
				<p>Once the initial puzzle is properly inputted, click the 'Solve' button.&#13;&#10;The program will fill in the empty squares with the correct values in red text.</p>
				<p>Press the 'Clear' button to completely clear the board.</p>
			</div>
		</div>
		<button ng-click="solve()" class="submitButton">Solve</button>
		<button ng-click="reset()" class="submitButton">Clear</button>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>