.box {
	margin: 0 !important;
	overflow: visible !important;
}

table {
	border-collapse: collapse;
}
td {
	border-collapse: collapse;
}

.sudokuGrid {
	margin: 10px;
}

.sudokuCell {
	height: 40px;
	width: 40px;
}



td {
	padding: 0;
	margin: 0;
}

tr:last-child {
	border-bottom: 4px solid black;
}

tr:nth-child(3n + 1) {
	border-top: 4px solid black;
}

td:first-child {
	border-left: 4px solid black;
}

td:nth-child(3n + 3){
	border-right: 4px solid black;
}

.shaded {

}

.submitButton {
	margin: 10px;
}

.initialSol {
	color: #000000;
}

.filledSol {
	color: #ff0000;
}

.gridTitle {
	margin: 10px;
	text-align: center;
}

.crossPos {
	background-color: #ffffff;
}

.circPos {
	background-color: #ffdc99;
}

.instructions {
	text-align: center;
	width: 40%;
	padding-left: 35px;
}

/* ng-cloak styles */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}