.box {
	margin: 0 !important;
	overflow: visible !important;
}

table {
	border-collapse: collapse;
}
td {
	border: 4px solid black;
	border-collapse: collapse;
}

.sudokuGrid {
	margin: 10px;
}

.submitButton {
	margin: 10px;
}

.initialSol {
	color: #000000;
}

.filledSol {
	color: #ff0000;
}

.gridTitle {
	margin: 10px;
	text-align: center;
}

.crossPos {
	background-color: #ffffff;
}

.circPos {
	background-color: #ffdc99;
}